.text-center{
    text-align:center
}
.flex{
    display:-webkit-flex;
    display:flex;
    -webkit-flex-direction:row;
    flex-direction:row;
    -webkit-flex-wrap:wrap;
    flex-wrap:wrap
}
.align-item-center{
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.justify-content-spacebetween{
    -webkit-justify-content:space-between;
    justify-content:space-between
}
.justify-content-center{
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.width-100{
    min-width:100vw;
    max-width:100vw
}
.height-100{
    min-height:100vh
}
.width-50{
    min-width:50%
}
.width-30{
    min-width:30%;
    max-width:30%
}
.center{
    transform:translate(50%,0)
}